<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/students}">Student Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<br>
    <div class="container">
        <div class="row">
            <h1 class="text-center mx-auto">LIST OF STUDENT</h1>
        </div>

        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "student: ${students}">
                <td th:text = "${student.firstName}"></td>
                <td th:text = "${student.lastName}"></td>
                <td th:text = "${student.email}"></td>
                <td>
                    <a th:href="@{/students/edit/{id}(id=${student.id})}"
                    class="btn btn-info">
                        Update
                    </a>
                    <a th:href="@{/students/{id}(id=${student.id})}"
                       class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <a class="btn btn-primary btn-lg" style="width: 200px;"
           th:href = "@{/students/add}">Add Student</a>
    </div>

</body>
</html>